.table-container {
    width: 77%;
    margin-left: 1%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow-y: scroll;
    height: 50vh;
}

th {
    font-weight: 500;
    padding: 19px 0px 19px 0px;
}

table {
    width: 100%;
    border-collapse: collapse; 
    
}

tr {
    border-top: 1px solid rgb(253, 238, 238);
}

td { 
    padding-top:10px;
    padding-bottom:10px;
    color: gray;
}